@import '../variables';

.header {
    align-items: center;
    border-bottom: 1px solid $border-color;
    padding: 25px;
    .header-logo {
        flex-grow: 1;
        margin-left: 16px;
    }

    .header-menu {
        order: 1;
    }
    svg {
        height: 22px;
    }

    .header-search {
        display: flex;
        justify-content: flex-end;
        flex-grow: 1;
        min-width: 150px;
    }

    .header-menu,
    .header-search,
    .header-cart {
        background: none;
        border: none;
        cursor: pointer;

        .cart-icon {
            svg {
                width: 24px;
                height: 24px;
            }
        }
    }

    .search-bar__icon, .header-cart .cart-icon {
        margin: 0 13px;
    }
}
.header-menu__wrapper {
    .header-menu__list {

        .header-menu__item {
            display: flex;
            flex-direction: column;
            list-style: none;
            height: 57px;
            position: relative;
            .header-menu__link {
                color: $black;
                padding: 20px 2vw;
                text-decoration: none;

                &:visited {
                    color: inherit;
                }

                &:hover {
                    border-bottom: 1px solid $border-color;
                }
            }

            .header-menu__link.active {
                &::after {
                    content: "";
                    border-bottom: 1px solid $blue;
                    position: absolute;
                    width: 100%;
                    left: 0;
                    bottom: 0;
                }
            }

        }
    }

    .header-menu__button {
        background: none;
        border: none;
        cursor: pointer;
    }
}

.header-menu__wrapper.desktop {
    display: none;
}

.header-menu__wrapper.mobile {
    .header-menu__list {
        position: fixed;
        left: 0;
        top: 0;
        background: $white;
        height: 100vh;
        margin-left: -120px;
        top: 84px;
        transition: margin-left .3s;
    }
}

.header-menu__wrapper.mobile.active {
    .header-menu__list {
        margin-left: 0;
        width: 100vw;
        z-index: 100;
        transition: margin-left .3s;
    }


}

@media screen and (min-width: $tablet-width) {
    .header {
        display: flex;
        padding: 10px;
        .header-logo {
             flex-grow: 1;
        }

        .header-menu {
            order: 0;
            flex-grow: 1;
        }


    }

    .header-menu__wrapper.mobile {
        display: none;
    }

    .header-menu__wrapper.desktop {
        display: block;
        .header-menu__list {
            display: flex;
            flex-direction: row;
            .header-menu__item {
                position: relative;
                .header-menu__link {
                    &:hover {
                        border: none;
                    }
                }

                .header-menu__link.active {
                    &::after {
                        content: "";
                        border-bottom: 1px solid $blue;
                        width: 70%;
                        position: absolute;
                        bottom: 15%;
                        left: 15%;
                    }
                }

                
            }
        }
    }
}