.product-catalog {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;

    &__item {
        //margin-bottom: 50px;
        //margin: 30px 60px;
        margin: 0 35px 50px 35px;
        max-width: 250px;
        border: 1px solid $product-card-border;
        padding: 11px;
        .product-item__top {
            text-decoration: none;
            display: inline-block;
            color: black;
            .product-item__image {
                max-width: 228px;
                height: auto;
            }
        }

        .product-item__bottom {
            display: flex;
            align-items: center;
            .product-item__cart {
                cursor: pointer;
            }
            .product-item__price {
                margin-left: 15px;
            }
        }
    }
}

@media screen and (min-width: $tablet-width) {
    .product-catalog {
        justify-content: flex-start;
        flex-direction: row;
        &__item {
            //margin: 3.5% 5%;
            //margin-right: 5%;
        }
    }
}

@media screen and (min-width: $desktop-width) {
    .product-catalog {
        justify-content: flex-start;
    }
}