@import '_variables';

.wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.container {
    max-width: $container-max-width;
    margin: 0 auto;
}

.content {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    .content-main {
        //max-width: 890px;
        width: 100%;
        //margin: 60px;
    }

}

.error-page {
    text-align: center;
}

// @media screen and (min-width: $tablet-width) {
//     .content {
//         .content-main {

//         }

//         .content-cart {
//             max-width: 410px;
//             display: block;
//         }
//     }
// }

@media screen and (min-width: $desktop-width) {
    // .content {
    //     .content-main {
    //         // width: 65%;
    //     }

    //     .content-cart {
    //         width: 35%;
    //         position: inherit;
    //         //display: block;
    //     }
    // }
}