// colors
$black: #000000;
$white: #FFFFFF;
$blue: #3366FF;
$gray: #CFCFCF;
$border-color: $gray;
$background-input: #EDEDF1;
$color-input: #8E90A6;
$checkout-step-color: #D5D5D5;
// width
$container-max-width: 1580px;
$tablet-width: 768px;
$desktop-width: 1200px;